.mainContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 1rem 0 0 0;
  /* height: fit-content; */
}
.wrapper {
  margin: 0 6px;
}

.subContainer {
  /* border: 1px solid gray; */
  background-color: #ffffff;
  padding: 30px 35px 20px 35px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  margin: 0 25px 5px 25px;
}
.dateContainer:first-child {
  margin-left: 0;
}
.link {
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
